/* 初始顶部导航栏 */
#topBar {
    height: 4.3rem;
    width: 100%;
    background-color: rgb(255, 255, 255, .6);
    z-index: 100;
    float: left;
    overflow: hidden;
    /* position: fixed; */
}
/* 初始导航栏标题 */
#pageTitle{
    /* color: #abbcf2; */
    color: #1c3a77;
    float: left;
    margin: -3rem 0 0 6rem;
    position: absolute;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
/* 导航栏背景 */
#navBanner{
    background-image: url("../../assets/pic/home/banner.jpg");
    background-position: 0 -9.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 4.3rem;
    opacity: 0.3;
    /* z-index: -2; */
    animation: showBg 0.7s;
}
@keyframes showBg {
    0%{opacity: 0;}
    100%{opacity: 1;opacity: 0.3;}
}
/* 标题颜色动效 */
#pageTitle:hover{
    /* background-image: linear-gradient(to top, rgb(255,210,209), rgb(171,188,242));
    background-clip: text;
    color: transparent;  */
    color: #1c3a77;
}
/* 导航栏一输入框 */
#input {
    width: 660px;
    position: absolute;
    margin: -82px 0 0 430px;
}

/* 路由文本链接父级元素 */
#text_bar {
    float: left;
    width: 60rem;
    position: absolute;
    /* color: rgb(236,219,186); */
    margin: -2.8rem 0 0 64rem;
}

/* 文本链接子级元素 */
#text_bar div {
    float: left;
    /* color: rgb(0, 0, 0); */
    font-size: 1rem;
    font-weight: 800;
    margin: 0.2rem 2rem;
    cursor: pointer;
}
/* 文本链接动效 */
#text_bar div:hover{
    color: rgb(187, 227, 254);
    text-shadow: 0 0.3rem 0.3rem rgb(28, 58, 119) ;
}

/* 当前路由页面对应导航高亮 */
.activeBar{
    color: #abbcf2;
    text-shadow: 0 0.3rem 0.3rem #fbf85f ;
}
.normal{
    color: rgb(28, 58, 119);
}

/* 第二导航栏 */
#bar {
    /* position: sticky; */
    position: fixed;
    width: 100%;
    /* top: 0px; */
    background-color: white;
    /* background-color: #DFF4FF; */
    height: 3.4rem;
    z-index: 999;
    border-bottom: 2px rgb(28, 58, 119) solid;
    animation: showbar .7s;
}
@keyframes showbar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* 第二导航栏文字 */
#secondBarTitle {
    height: "5rem";
    width: "10rem";
    margin: 0.5rem 0 0 3.8rem;
    color: rgb(28, 58, 119);
    font-weight: 600;
    font-size: 1.6rem;
}

/* 路由链接 */
#text_bar_1 {
    margin: -40px 0 0 140px;
    width: 500px;
    color: rgb(236, 219, 186);
    font-size: 17px;
    font-weight: 500;
}

/* 输入框 */
#input_1 {
    width: 700px;
    position: absolute;
    margin: -2.1rem 0 0 47.2rem;
}

/* element元素样式重置 */
.input-with-select .el-button {
    background-color: #1c3a77 !important;
}

.input-with-select .el-button--default {
    background-color: #1c3a77 !important;
}

.input-with-select .el-select {
    width: 100px;
}

.input-with-select .el-input__inner :focus {
    border-color: #1c3a77 !important;
}

/* 修改鼠标样式 */
.bardiv {
    color: #1c3a77;
    cursor: pointer;
}