/* -------侧边栏 折叠 */
.menu--fold .menuLeft {
	width: 64px;
}
.menu--fold .content-main {
	margin-left: 64px;
}
 
/* ---------侧边栏 展开 */
.menu--unfold .menuLeft {
	width: 180px;
}
 
.menu--unfold .content-main {
	margin-left: 180px;
}
 
/* ------------- */
 
.navTop {
	position: relative;
	width: 100%;
	height: 50px;
	z-index: 100;
	box-shadow: 0 2px 4px #BBDEFB;
	box-sizing: border-box;
	background: white;
}

.nav_tools {
	height: 100%;
	float: left;
}
#adminMenu{
	cursor: pointer;
	position: absolute;
	right: 2rem;
	top: 1rem;
}

.nav_tools .el-icon-s-fold {
	margin: 13px !important;
	color: #BBDEFB !important;
	font-size: 1.5rem !important;
}
.nav_tools .el-icon-s-unfold {
	margin: 13px !important;
	color: #BBDEFB !important;
	font-size: 1.5rem !important;
}
.menuLeft {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1020;
	overflow: hidden;
	background-color: #2d363a;
}
 
.content-main {
	position: relative;
	background: #f1f4f5;
	height: 100%;
 
}
.menu-nav-header {
	color: white;
	height: 50px;
	line-height: 50px;
	text-align:center;
	font-size: 16px;
	font-weight: bold;
	background-color: #BBDEFB;
}
 
/* 动画 */
.nav_tools,
.menuLeft,
.content-main {
	transition: inline-block 0.3s, left 0.3s, width 0.3s, margin-left 0.3s, font-size 0.3s, height;
}
/* 侧边栏 */
 
.menuLeft .el-menu {
	border-right: none;
}
 
.el-menu-vertical-demo:not(.el-menu--collapse) {
	border-right: none;
	width: 180px;
}
 
.el-menu .icon-text {
	margin-left: 10px;
}
 
 
/* 修改标签栏样式 */
.content-main .el-tabs .el-tabs__header {
	z-index: 90;
	padding: 0 55px 0 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
	background-color: #fff;
}
 
.content-main .el-tabs .el-tabs__nav-wrap::after {
	width: 0px;
}

.content-main .el-scrollbar .el-card {
	margin: 15px 15px;
	
}
.content-main .el-tabs .el-tabs__header{
	margin: unset;
}
