#goodGoodscontent{
    width: 100%;
    height: 160rem;
  }
#goodGoodsSelect{
    border-radius: 1rem;
    top:5rem;
    left: 4rem;
    border: 0.2rem dashed #85a9f34d;
    background-color: rgb(187, 227, 254);
    width: 21rem;
    height: 9rem;
    position: sticky;
    animation: showSelectForm1 1.3s ease-in-out;
}
#goodGoodsSelect .el-form-item__label{
    font-size: 1rem;
    color: rgb(255,255,255) !important;
}
#selectForm {
    position: sticky;
    margin: 1.2rem 0 0 1.4rem;
    animation: showSelectForm2 1.3s ease-in-out;
}
@keyframes showSelectForm1 {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes showSelectForm2 {
    from{margin: 1.2rem 0 0 -12.4rem;}
    to{margin: 1.2rem 0 0 1.4rem;}
}
#goodsPic{
    width:16rem;
    height:13rem;
    margin: 1rem 0 0 1rem;
    border-radius: 0.3rem;
    float: left;
}
#goodsMb{
    width:16rem;
    height:13rem;
    margin: 1rem 0 0 1rem;
    border-radius: 0.3rem;
    position: absolute;
    float: left;
    background-color: rgb(0,0,0,.3);
    animation: showGoodsMb .15s ease-in-out;
}
@keyframes showGoodsMb{
    from{  margin: 14rem 0 0 1rem;}
    to{ margin: 1rem 0 0 1rem;}
}
#mbContent{
    font-family:幼圆;
    font-size:0.9rem;
    margin: 10.5rem 0 0 1rem;
    color: white;
}
#mbButton1{
    border:0.1rem rgb(133, 169, 243) solid;
    height:2.1rem;
    line-height: 2rem;
    margin-top: -0.8rem;
    border-radius: 0.6rem;
    background-color: rgb(187, 227, 254);
}
#mbButton2{
    border:0.1rem #85a9f3 solid;
    height:2.1rem;
    line-height: 2rem;
    margin-top: -0.8rem;
    border-radius: 0.6rem;
    background-color: rgb(187, 227, 254);
}
#buttonPic1{
    width:1.6rem;height:1.6rem;margin: 0.2rem 0 0 2.8rem;
}
#buttonPic2{
    width:1.7rem;height:1.7rem;margin: 0.1rem 0 0 5.3rem;
}
.buttonText{
    position:absolute;margin-left: 0.6rem;
    font-weight: 500;
    color: rgb(133, 169, 243);
}
.buttonText :hover{
    color: black;
}
#mbButton1 , #mbButton2{
    cursor: pointer;
}
#goodGoodsList{
    right: 4rem;
    top: 22rem;
    height:170rem;
    width:62rem;
    position: absolute;
    overflow: auto;
    animation: showggL 1.2s ease-in-out;
}
#goodGoodsList1{
    right: 7.5rem;
    top: 22rem;
    height:170rem;
    width:82rem;
    position: absolute;
    overflow: auto;
}
@keyframes showggL {
    from{right: 7.5rem;width:82rem;}
    to{right: 4rem;width:62rem;}
}
.listItem{
    overflow: hidden;
    border-radius: 1rem;
    border: dashed 0.2rem bisque;
    height: 15rem;
    background-color: white;
    margin-bottom: 2rem;
}

#banner2 {
    background-image: url("../../assets/pic/bg.png");
    background-position: 0 -22rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
    z-index: -4;
    margin: 0 0 2rem 0;
}
#lookDetails{
    font-family:幼圆;font-size:0.8rem;margin: 0rem 0 0 22rem;
    position: absolute;width: 25rem;
    cursor: pointer;
}
#buttomPagination .el-pager li.active{
    background-color:rgb(187, 227, 254);
    color:white
}
#buttomPagination .el-pagination{
    width: 30rem;
}
#buttomPagination .el-pager li{
    margin: 0 0.3rem;
}