body{
    overflow-x: hidden;
}
#banner {
    background-image: url("../../assets/pic/home/banner.jpg");
    background-position: 0 -9.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 45rem;
    z-index: -1;
}
#tmBlock{
    height: 55rem;
    width: 100%;
}
#content{
    height: 1780px;
    width: 100%;
    /* background-color: #DFF4FF; */
    background-color: white;
}

/* 第一分区 西科好物 | goodGoods */
#goodGoodsArea{
    height: 50rem;
    /* background-color: burlywood; */
    padding: 2rem;
}
#area1Pic{
    animation: showarea1Pic 1s ease-in-out;
}
@keyframes showarea1Pic {
    from{margin-top: 5rem;}
    to{margin-top: 0;}
}
#area2Pic{
    animation: showarea2Pic 1.2s ease-in-out;
}
@keyframes showarea2Pic {
    from{margin-left: 5rem;}
    to{margin-left: 1rem;}
}
#areaTitle1{
    font-family: 'Courier New';
    margin: 2rem 0 0 1rem;
    color: rgb(131,123,110);
    animation: showareaTitle1 1s ease-in-out;
}
@keyframes showareaTitle1 {
    from{opacity: 0;}
    to{opacity: 1;}
}
#discribeWords1{
    margin: 2rem 0 0 1rem;
    color: rgb(221,214,196);
    font-size: 3rem;
    animation: showareaTitle1 1.5s ease-in-out;
}
#smallDiscribe{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    margin: 2rem 0 0 1rem;
    width: 25rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: rgb(182,180,168);
    animation: showsmallDiscribe 1.5s ease-in-out;
}
@keyframes showsmallDiscribe {
    from{margin-top: 5rem;}
    to{margin-top: 2rem;}
}
#learnMore{
    margin: 2rem 0 0 1rem;
    color:rgb(28, 58, 119);
    letter-spacing: 0.4rem;
    font-weight: 600;
    float: left;
    cursor: pointer;
    animation: showsmallDiscribe 1s ease-in-out;
}
#learnMore :hover :first-child{
    animation: goRight .8s;
    margin-left: 0.7rem;
}
@keyframes goRight {
    from{
        margin-left: 0;
    }
    to{
        margin-left: 0.7rem;
    }
}

/* 一二分区过渡部分 */
#transitionArea1{
    margin-top: -3rem;
    position: absolute;
    width: 100%;
    height: 26rem;
    background-image: url("../../assets/pic/home/bannerSmall.gif");
    background-position: 0 .5rem;
    background-repeat: no-repeat;
    background-size: cover;
}
#scrollShowPic,#scrollShowPicSecond,#scrollShowPicThird{
    position: absolute;
    margin: -1rem 0 0 40rem;
    width: 49.8rem;
    height: 16rem;
    z-index: 3;
}
#scrollShowPic1{
    position: absolute;
    margin-left: 20rem;width:14rem;height:16rem;overflow: hidden;float: left;
    animation: ssp1 .7s ease-in-out;
}
@keyframes ssp1 {
    from{}
    to{margin-left: 20rem;}
}
#scrollShowPic2{
    position: absolute;
    margin-left: 36rem;width:14rem;height:16rem;overflow: hidden;
    animation: ssp2 1s ease-in-out;
}
@keyframes ssp2 {
    from{}
    to{margin-left: 36rem;}
}
#scrollShowPicSecond #scrollShowPic11{
    position: absolute;
    margin-left: 12rem;width:14rem;height:16rem;overflow: hidden;float: left;
    animation: ssp11 1s ease-in-out;
}
@keyframes ssp11 {
    from{}
    to{margin-left: 12rem;}
}
#scrollShowPicSecond #scrollShowPic22{
    position: absolute;
    margin-left: 28rem;width:14rem;height:16rem;overflow: hidden;
    animation: ssp22 1s ease-in-out;
}
@keyframes ssp22 {
    from{}
    to{margin-left: 28rem;}
}
#scrollShowPicThird #scrollShowPic111{
    position: absolute;
    margin-left: 5rem;width:14rem;height:16rem;overflow: hidden;float: left;
    animation: ssp111 1s ease-in-out;
}
@keyframes ssp111 {
    from{}
    to{margin-left: 5rem;}
}
#scrollShowPicThird #scrollShowPic222{
    position: absolute;
    margin-left: 21rem;width:14rem;height:16rem;overflow: hidden;
    animation: ssp222 1s ease-in-out;
}
@keyframes ssp222 {
    from{}
    to{margin-left: 21rem;}
}

/* 第二分区 西科创意 | originality*/
#originalityArea{
    margin-top: -2.5rem;
    position: absolute;
    height: 60rem;
    width: 100%;
    background-color: rgb(203, 230, 248);
    animation:  showOriginality 2s ease-in-out;
}
@keyframes showOriginality {
    from{margin-top:5rem}
    to{margin-top: -2.5rem;}
}
#areaTitle2{
    font-family: 'Courier New';
    margin: 6rem 0 5rem -6rem;
    color: rgb(111, 160, 250);
    animation: showareaTitle1 1s ease-in-out;
}
@keyframes showareaTitle1 {
    from{opacity: 0;}
    to{opacity: 1;}
}
#discribeWords2{
    margin: 2rem 0 2rem -6rem;
    color: white;
    font-size: 3rem;
    animation: showsmallDiscribe 1s ease-in-out;
}
#smallDiscribe2{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    margin: 2rem 0 1rem -6rem;
    width: 25rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: rgb(111, 160, 250);
    animation: showsmallDiscribe 1.5s ease-in-out;
}
#learnMore2{
    margin: 2rem 0 0 -6rem;
    color:rgb(111, 160, 250);
    letter-spacing: 0.4rem;
    font-weight: 600;
    float: left;
    cursor: pointer;
    animation: showsmallDiscribe 1s ease-in-out;
}
#learnMore2 :hover :first-child{
    animation: goRight .8s;
    margin-left: 0.7rem;
}
#area22Pic{
    animation: showarea22Pic 1.7s ease-in-out;
}
@keyframes showarea22Pic {
    from{width:27rem;margin: -3rem 0 0 -3rem;}
    to{width:25rem;}
}
#area22Pic2{
    width:24rem;margin: 8rem 0 0 -6rem;
    animation: showarea22Pic2 1.7s ease-in-out;
}
@keyframes showarea22Pic2 {
    from{margin-top: 14rem;}
    to{margin-top: 8rem;}
}
#area2leftPic{
    margin: 3rem 0 0 4rem;
    width: 59rem;
    height: 20rem;
    animation: showSwiper 1s ease-in-out;
}
#area2rightWords{
    margin: 3rem 0 0 4rem;
    width: 23rem;
    height: 20rem;
    /* background-color:aquamarine; */
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    color: white;
    line-height: 2rem;
}
@keyframes showSwiper{
    from{margin-left: -18rem;}
    to{margin-left: 4rem;}
}
/* 过渡区 */
#twoPic{
    position: absolute;
    right: 0rem;
    width: 20rem;
    height: 17rem;
}
#book1{ 
    margin-top: -4rem;
}
#book2{
    margin-top: 0rem;
}
#book3{
    margin-top: 4rem;
}
#book4{
    margin-top: 8rem;
}
/* 第三分区 西科出版 | publishment */
#publishmentArea{
    /* overflow: hidden; */
    width: 100%;
    height: 60rem;
    background-color: rgb(78, 108, 146);
}
#publishmentAreaContent{
    float: left;
    width: 100%;
    height: 60rem;
    background-color: rgb(255,255,255);
}
#publishmentAreaContent1{
    float: left;
    width: 100%;
    height: 60rem;
    background-color: rgb(255,255,255,.66);

}
#publishmentAreaContent2{
    float: left;
    width: 100%;
    height: 60rem;
    background-color: rgb(255,255,255,.33);

}
#publishmentAreaContent3{
    float: left;
    width: 100%;
    height: 60rem;
    background-color: rgb(255,255,255,0);
}
#area3{
    width: 130rem;
    margin: 5rem 0 0 13rem;
    position: absolute;
}
#areaTitle3{
    font-family: 'Courier New';
    margin: 6rem 0 5rem -6rem;
    color: rgb(174, 200, 253);
    animation: showareaTitle1 1s ease-in-out;
    animation: changeColor 3s ease-in-out;
}
#discribeWords3{
    margin: 2rem 0 2rem -6rem;
    color: white;
    font-size: 3rem;
    animation: showsmallDiscribe 1s ease-in-out;
}
#smallDiscribe3{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    margin: 2rem 0 1rem -6rem;
    width: 25rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: rgb(174, 200, 253);
    animation: showsmallDiscribe 1.5s ease-in-out;
    animation: changeColor 3s ease-in-out;
}
@keyframes changeColor {
    from{color:rgb(28, 58, 119)}
    to{color:rgb(174, 200, 253)}
}
#educationPic{
    width:50rem;height:50rem;margin: -3rem 0 0 -6rem;
    animation: showEducationPic 1s ease-in-out;
}
@keyframes showEducationPic {
    from{margin-top: 10rem;}
    to{margin-top: -3rem;}
}